* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 700px;
  margin: 0 auto;
  width: 80%;
  margin-top: 30px;
}
.row {
  display: flex;
  height: 90px;
}
#contatore {
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  background-color: yellow;
}
.wrapContatori {
  width: 50%;
  text-align: center;
  padding-top: 20px;
}

.blu {
  background-color: blue;
  width: 15%;
  border: 1px solid;
  cursor: pointer;
}
.activeRed {
  background-color: red;
  width: 15%;
  border: 1px solid;
  cursor: pointer;
}
.activeGreen {
  background-color: green;
  width: 15%;
  border: 1px solid;
  cursor: pointer;
}
